*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 20px;
}


body{
    background:  linear-gradient(135deg,#ffe4f0,#f3e8ff);
}


.main-container{
    display: flex;
    width: 100%;
    min-height: 100vh;
}


.sidebar{
    width: 260px;
    min-height: 100vh;
    background: linear-gradient(135deg, #ff4fa0, #8a2be2);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.sidebar-header{
    text-align: center;
    margin-bottom:30px;
}


.mini-logo{
    width: 60px;
    margin-bottom: 10px;
}


.menu ul{
    list-style: none;
}


.menu ul li {
    margin: 10px 0;
}


.menu ul li a {
    color: #ffc1e3; 
    text-decoration: none;
    display: block;
    padding: 12px;
    border-radius: 10px;
    transition: 0.3s;
}


.menu ul li a:hover, .menu ul li.active a {
    background: #ff2e7a; 
    color: white;
}


.menu i{
    margin-right: 10px;
    width: 20px;
}


.sidebar-foother{
    margin-top: auto;
    padding-top: 20px;
    border-top: 1px solid rgb(255, 255, 255, 0.1);
}


.sidebar-footer a {
    color: white;
    text-decoration: none;
}


.top-header {
    display: flex;
    justify-content: space-between;  
    align-items: center; 
    padding: 25px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(128, 0, 32, 0.1); 
}


.welcome-area h1 {
    font-size: 24px;
    color: #4a0012; 
    font-weight: 700;
}


.welcome-area p {
    font-size: 14px;
    color: #8a2be2;  
    margin-top: 5px;
}


.header-right {
    display: flex;
    align-items: center;
    gap: 30px; 
}


.header-icons {
    display: flex;
    gap: 15px;
}


.icon-circle {
    width: 45px;
    height: 45px;
    background: white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff2e7a; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}


.icon-circle:hover {
    background: #ff2e7a;
    color: white;
}


.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 8px;
    height: 8px;
    background: #d32f2f; 
    border-radius: 50%;
    border: 2px solid white;
}


.profile-info {
    display: flex;
    align-items: center;
    gap: 12px;
}


.user-name {
    font-weight: 600;
    font-size: 14px;
    color: #333;
}


.user-avatar {
    width: 40px;
    height: 40px;
    background: linear-gradient(135deg, #800020, #ff2e7a); 
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
}


.content-area{
    flex: 1;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
}


.dashboard-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
    margin-top: 30px;
}


.card{
    background: rgba(255,255,255,0.6);
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    transition: 0.35;
}


.card:hover{
    transform: translateY(-6px) scale(1.02);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
}


.card h3{
    font-size: 18px;
    margin-bottom: 10px;
}


.card p{
    font-size:14px;
    color:#777;
    margin-bottom: 15px;
}


.card button{
    margin-top: 10px;
    padding: 10px 18px;
    border: none;
    border-radius: 10px;
    background:linear-gradient(135deg,#ff2e7a,#ff6aa0);
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: 0.35;
}


.card button:hover{
    background: #e02163;
    transform: scale(1.05);
}


.card icon{
    width: 55px;
    height: 55px;
    background: rgba(255, 46, 122, 0.1);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff2e7a;
    font-size: 22px;
    margin-bottom: 15px;
}



.top-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}



.info-card{
    background: white;
    border-radius:18px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}



.info-card:not(.map-card){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 15px;
}



.info-card:not(.map-card) h4{
    font-weight:600;
}



.info-card:not(.map-card) p{
    color:#999;
}



.info-icon{
    width: 45px;
    height: 45px;
    background: #ffe4f0;
    border-radius:12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #ff2e7a;
}



.info-icon.warning{
    background: #fff0f0;
    color: #e53935;
}



.info-text h4{
    font-size: 18px;
    margin-bottom: 3px;
}



.info-text p{
    font-size: 11px;
    color: #777;
}



.map-card{
    flex-direction: column;
    padding:12px;
}



.map-header{
    display:block;
    align-items:center;
    gap:10px;
    margin-bottom:10px;
    color:#ff2e7a;
}



.map-container{
    width:100%;
    height:100px;
    border-radius:12px;
    overflow:hidden;
    margin-top: 10px;
}



.map-container iframe{
    width: 100%;
    height: 100%;
    border: 0;
}




.badge-number{
    background:#ff2e7a;
    color:white;
    padding:2px 8px;
    border-radius:10px;
    font-size:10px;
    margin-left:5px;
}




.call-screen{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:black;
    color:white;
    justify-content:center;
    align-items:center;
    z-index:9999;
}



.call-content{
    text-align:center;
}



.end-call{
    margin-top:20px;
    padding:15px 25px;
    border:none;
    border-radius:50px;
    background:red;
    color:white;
    font-size:18px;
    cursor:pointer;
}



.call-screen.active{
    display:flex;
}



.map-popup{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    justify-content:center;
    align-items:center;
    z-index:9999;
}



.map-box{
    width:90%;
    height:80%;
    background:white;
    border-radius:20px;
    overflow:hidden;
    position:relative;
}



.map-box iframe{
    width:100%;
    height:100%;
    border:0;
}



.close-map{
    position:absolute;
    top:10px;
    right:10px;
    z-index:10;
    background:red;
    color:white;
    border:none;
    padding:10px;
    border-radius:50%;
    cursor:pointer;
}